@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(18, 18, 18);
    font-family: 'Montserrat', sans-serif;
}

#navBarContainer {
    /*houses navigation items and main text*/
    position: absolute;
    top: 0px;
    left: 0px;
    /*    background-color: rgb(15, 14, 22);*/
    /*    border: 2px solid red;*/
    width: 100%;
    height: 170px;
}

#navBar {
    /*    display: none;*/
    position: absolute;
    width: 95vw;
    height: 80px;
    /*    border: 2px solid blue;*/
    top: 50%;
    /*    margin-top: -40px;*/
    margin: -40px 2.5vw 0px 2.5vw;
    font-weight: 500;
}

#leftNavSection {
    float: left;
    /*    background-color: purple;*/

}

#rightNavSection {
    float: right;
    /*    background-color: red;*/

}

#leftNavSection,
#rightNavSection {
    width: 50%;
    height: 100%;
    /*    border:3px solid purple*/
}

#menuButton {
    display: none
}

#leftNavSection ul li {
    margin-top: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    list-style-type: none;
    float: left;
    padding: 18px;
}

li:first-of-type {
    padding-left: 0;
}

a {
    display: block;
    color: whitesmoke;
    text-decoration-line: none;
    /*makes whole link area clickable, not just text*/
    /*    background-color: black;*/
    font-weight: 500;
}

a:hover {
    color: rgb(195, 195, 195);
    cursor: pointer
}

#rightNavSection ul {
    float: right;
}

#rightNavSection ul li {
    margin-top: 25px;
    padding: 0px 30px;
}

#leftNavSection ul li {
    color: whitesmoke;
}

#rightNavSection ul li:last-of-type {
    padding-right: 0;
}

#headerText {
    width: 600px;
    /*    border: 1px solid green;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -40px;
}

#headerText a {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    color: whitesmoke;
    /*    color:black*/
    text-decoration-line: none;
}


#picturesContainer {
    margin: 160px auto 0px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 750px;
    width: 95vw;
    max-width: 1920px;
    height: auto;
    /*    background-color: rgb(15, 14, 22)*/
}

#picture {
    max-width: 800px;
}

.pictureHeader {
    margin: 0px auto;
    /*    border: 1px solid red;*/
    width: 100%;
    color: whitesmoke;
    height: 80px;
}

.pictureHeader h2 {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#picture img {
    display: inline;
    /*    max-width: 300px;*/
    height: 528px;
    padding: 20px;
}

#picture h3 {
    color: whitesmoke;
    text-align: center;
    font-weight: normal;
    padding-bottom: 20px;
}

.pictureSection {
    width: inherit;
    height: inherit;
    display: inherit;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.pictureSection:nth-of-type(2) {
    margin-top: 50px;
    margin-bottom: 25px;
}

#picture:nth-of-type(6) img,
#picture:nth-of-type(7) img,
#picture:nth-of-type(8) img,
#picture:nth-of-type(9) img {
    width: 600px;
}

#instagramPosts {
    width: 100%;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    margin: 0px auto;
    /*    border: 10px solid yellow*/
}

#instagramPic {
    width: 33%;
    height: auto;
    margin: 0px auto;
    /*    border: 1px solid red;*/
}

#aboutMeContainer {
    margin: 250px auto 0px auto;
    width: 90vw;
    max-width: 1920px;
    height: 70vh;
    /*    border: 1px solid red;*/

}

#aboutMeHeader {
    width: 600px;
    /*    border: 1px solid green;*/
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -300px;
    text-align: center;
    /*    margin-top: -40px;*/
}

#aboutMeHeader h2 {
    color: whitesmoke;
    font-size: 45px;
    font-weight: normal;
    font-weight: 500;
}

#left {
    float: left;
    /*    display: inline-block;*/
    width: 50%;
    height: 100%;
    /*        background-color: whitesmokesmoke;*/
}

#left p {
    font-weight: normal;
    color: whitesmoke;
    /*    margin-top: 50px;*/
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    padding-right: 25px;

}

#left p:last-of-type {
    margin-top: 50px;
}

#right {
    /*    float: right;*/
    display: inline-block;
    width: 50%;
    height: 100%;
    /*    border: 1px solid red*/
    /*    background-color: aqua;*/
    /*
    background-image: image("amlsultana.jpeg");
    background-position: center;
    background-size: cover;
*/
}

#artisticInfo {
    width: 100%;
    margin-top: 50px;
    height: auto;
    /*    border: 5px solid blue;*/
    color: whitesmoke;
    padding-right: 25px;
}

#artisticInfo h1 {
    font-size: 26px;
    font-weight: bold;
}

#artisticInfo ul li {
    margin: 0px;
    padding: 5px;
    font-size: 20px;
}

#artisticInfo ul li:first-of-type {
    margin-top: 20px;
}

.aboutMeImage {
    /*    display: inline;*/
    height: 100%;
    /*    padding-left: 25px;*/
    object-fit: cover
}

.emphasize {
    font-weight: bold;
    font-style: italic;
}

#FAQ {
    width: 100vw;
    height: 100vh;
    color: whitesmoke;
    margin-top: 50px;
}

#FAQ ul li {
    margin: 0 0 0 80px;
    padding: 18px;
    max-width: 1000px;
    /*    display: inline;*/
}

#FAQ ul li p {
    padding: 20px 0px;
}

#FAQ h2 {
    font-size: 45px;
    margin: 40px auto;
    text-align: center;
    font-weight: 500;
}

#FAQ h3 {
    font-size: 30px;
    font-weight: 700;
}


@media only screen and (min-width:2560px) {
    #picturesContainer {
        width: 75vw;
        /*        background-color: whitesmoke*/
    }

    #aboutMeContainer {}
}

@media only screen and (max-device-width:550px) {

    /*if total width of the device itself is less than 550px, this will activate. This doesn't care about the size of the browser. Therefore, resizing to an iphone screen with a browser will not work - only viewing on an iphone will activate this.*/

    /*    Mobile screens*/
    #menuButton {
        display: block;
        float: right;
    }

    #menuButton h2 {
        font-size: 40px
    }

    #headerText h1 {
        font-size: 80px;
    }

    #navBar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 50%;
        height: 100vh;
        /*thank the lord*/
        background-color: rgb(15, 14, 22);
        z-index: 100;
        /*        border: 5px solid red;*/
    }

    #rightNavSection,
    #leftNavSection {
        /*        display: none;*/
        /*        border: 10px solid red;*/
        height: 200px;
        /*        display: inline-block;*/
        float: none;
    }

    #leftNavSection {
        margin: 100px 0px 0px 40px;
    }

    #leftNavSection ul li:first-of-type {
        padding-left: 18px;
    }

    #rightNavSection {
        margin-left: 30px
    }

    #rightNavSection ul,
    #leftNavSection ul {
        display: block;
        float: left;
        font-size: 60px;
        /*        background-color: black;*/
    }

    #leftNavSection ul li {
        margin: 0px;
        float: none;
        /*        border: 2px solid black;*/
        border-bottom: 2px solid black;
        color: whitesmoke;
    }

    #leftNavSection ul li a h2 {
        font-weight: bold;

    }

    #rightNavSection ul li a img {
        width: 64px;
    }

    #burger {
        /*    display: flex;*/
        /*		vertical centering*/
        /*        position: fixed;*/
        margin: 60px 70px 0px 0px;
        float: right;
        height: 64px;
        width: 96px;
        /*    margin: 10px 10px;*/
        /*        border: 1px solid red;*/
        z-index: 200;
    }

    .burgerLine {
        height: 15px;
        width: 100%;
        background-color: whitesmoke;
        /*        border: 1px solid red;*/
    }

    .burgerLine:nth-of-type(2) {
        margin: 7px 0px;
    }

    #picture h3 {
        font-size: 32px;
    }

    .pictureSection:nth-of-type(2) {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #left {
        /*        width:100%;*/
        margin-top: 600px;
    }

    #right {
        width: 100%;
    }

    .aboutMeImage {
        position: absolute;
        top: 12vh;
        left: 49px;
        margin: 0px auto;
        width: 90%;
        height: 25%;
        margin: 0px;
        padding: 0px;
    }
}

/*
@media only screen and (min-device-width:600px) {
    #navBar {
        display: none;
        position: absolute;
        width: 95vw;
        height: 80px;
        top: 50%;
        margin: -40px 2.5vw 0px 2.5vw;
        font-weight: 500;
    }
}
*/
