@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(15, 14, 22);
    font-family: 'Montserrat', sans-serif;
}

#navBarContainer {
    /*houses navigation items and main text*/
    position: absolute;
    top: 0px;
    left: 0px;
    /*    background-color: rgb(15, 14, 22);*/
    /*    border: 2px solid red;*/
    width: 100%;
    height: 170px;
}

#navBar {
    /*    display: none;*/
    position: absolute;
    width: 95vw;
    height: 80px;
    /*    border: 2px solid blue;*/
    top: 50%;
    /*    margin-top: -40px;*/
    margin: -40px 2.5vw 0px 2.5vw;
    font-weight: 500;
}

#leftNavSection {
    float: left;
    /*    background-color: purple;*/

}

#rightNavSection {
    float: right;
    /*    background-color: red;*/

}

#leftNavSection,
#rightNavSection {
    width: 50%;
    height: 100%;
    /*    border:3px solid purple*/
}

#menuButton {
    display: none
}

#leftNavSection ul li {
    margin-top: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

li {
    list-style-type: none;
    float: left;
    padding: 18px;
}

li:first-of-type {
    padding-left: 0;
}

a {
    display: block;
    /*makes whole link area clickable, not just text*/
    /*    background-color: black;*/
    font-weight: 500;
}

#rightNavSection ul {
    float: right;
}

#rightNavSection ul li {
    margin-top: 25px;
    padding: 0px 30px;
}

#leftNavSection ul li {
    color: white;
}

#rightNavSection ul li:last-of-type {
    padding-right: 0;
}

#headerText {
    width: 600px;
    /*    border: 1px solid green;*/
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -40px;
}

#headerText h1 {
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    color: white;
    /*    color:black*/
}

#picturesContainer {
    margin: 160px auto 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 750px;
    width: 95vw;
    max-width: 1920px;
    height: auto;
    /*    background-color: rgb(15, 14, 22)*/
}

#picture {
    /*    border: 1px solid white;*/
}

#picture img {
    display: inline;
    /*    max-width: 300px;*/
    height: 528px;
    padding: 20px;

    /*    border: 10px solid red;*/
}

#picture h3 {
    color: white;
    text-align: center;
    font-weight: normal;
    padding-bottom: 20px;
}


@media only screen and (max-device-width:550px)

/*if total width of the device itself is less than 550px, this will activate. This doesn't care about the size of the browser. Therefore, resizing to an iphone screen with a browser will not work - only viewing on an iphone will activate this.*/
    {

    /*    Mobile screens*/
    #menuButton {
        display: block;
        float: right;
    }

    #menuButton h2 {
        font-size: 40px
    }

    #headerText h1 {
        font-size: 80px;
    }

    #navBar {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        width: 50%;
        height: 100vh;
        /*thank the lord*/
        background-color: rgb(15, 14, 22);
        z-index: 100;
        /*        border: 5px solid red;*/
    }

    #rightNavSection,
    #leftNavSection {
        /*        display: none;*/
        /*        border: 10px solid red;*/
        height: 200px;
        /*        display: inline-block;*/
        float: none;
    }

    #leftNavSection {
        margin: 100px 0px 0px 40px;
    }

    #leftNavSection ul li:first-of-type {
        padding-left: 18px;
    }

    #rightNavSection {
        margin: 0px 0px 0px 30px
    }

    #rightNavSection ul,
    #leftNavSection ul {
        display: block;
        float: left;
        font-size: 60px;
        /*        background-color: black;*/
    }

    #leftNavSection ul li {
        margin: 0px;
        float: none;
        /*        border: 2px solid black;*/
        border-bottom: 2px solid black;
        color: white;
    }

    #leftNavSection ul li a h2 {
        font-weight: bold;

    }

    #rightNavSection ul li a img {
        width: 64px;
    }

    #burger {
        /*    display: flex;*/
        /*		vertical centering*/
        /*        position: fixed;*/
        margin: 60px 70px 0px 0px;
        float: right;
        height: 64px;
        width: 96px;
        /*    margin: 10px 10px;*/
        /*        border: 1px solid red;*/
        z-index: 200;
    }

    .burgerLine {
        height: 15px;
        width: 100%;
        background-color: white;
        /*        border: 1px solid red;*/
    }

    .burgerLine:nth-of-type(2) {
        margin: 7px 0px;
    }

    #picture h3 {
        font-size: 32px;
    }
}

/*
@media only screen and (min-device-width:600px) {
    #navBar {
        display: none;
        position: absolute;
        width: 95vw;
        height: 80px;
        top: 50%;
        margin: -40px 2.5vw 0px 2.5vw;
        font-weight: 500;
    }
}
*/
